body {
  font-family: 'Inter', sans-serif;
  color: #011627;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

.button {
  background-color: #2EC4B6;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border-radius: 3px;
  max-width: 150px;
  border: none;
  transition: transform .25s;
}

.button:hover {
  transform: translateY(3px);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 500px;
}

input {
  border-radius: 3px;
  padding: 12px;
  font-size: 14px;
  margin: 16px 0;
}

.error {
  background-color: #cc0f00;
  color: #fff;
  padding: 36px;
}

.error a {
  color: inherit;
  text-decoration: underline;
}

/* Beta warning & Navigation bar */
.nav-container {
  position: fixed;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #cc0f00;
  z-index: 100;
  letter-spacing: 0.025em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.banner {
  width: 100%;
  text-align: center;
}

.attention {
  color: #fff;
  background: linear-gradient(to right bottom, rgb(255, 171, 0), rgb(255, 153, 31)) left top no-repeat;
  padding: 1em;
  border: initial;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.navigation a {
  padding: 16px;
}

.logo {
  width: 90px;
  height: 90px;
}

.navbar-links {
  display: inline-block;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
  font-family: 'Palatino Linotype', 'Book Antiqua';
  color: #fff;
}

.navbar-links a {
  padding: 0 10px;
  color: #fff;
}

/* Splash page */
.splash-page {
  background-image: url('./assets/pizza-with-vegetables-on-a-wooden-table-316-small.jpg');
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 140px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-options {
  background-color: #fff;
  text-align: center;
  width: 75%;
  padding: 32px;
  margin-top: 40px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.splash-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.splash-page .button {
  min-width: 200px;
  margin: 16px;
}

#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* login and signup forms */

#auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/tomatoes.png');
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 80px 140px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  padding: 64px;
  margin-top: 40px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}


/* Select Size Page */

.size-container{
  flex: 4;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.pizza {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
 }

.single-size{
  padding: 20px 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.single-size .button {
  background-color: #7a970f;
  min-width: 80px;
  margin: 16px;
}

/* Guest Checkout */
.guest-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 180px 40px;
}

.guest-refer-form {
  background-color: #dcdcdc;
  padding: 16px;
  flex: 1;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.guest-message{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: left;
}

.guest-refer-form .form {
  min-width: 250px;
}

.guest-refer-form .button {
  background-color: #011627;
  color: white;
  width: 100%;
}


.referred-page,.profile-page {
  padding: 140px 40px;
}

.customize-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}

@media screen and (max-width: 919px){
  .customize-section {
    margin-right: 0px;
  }
}

.single-contact {
  border: solid 3px #2EC4B6;
  padding: 16px;
  border-radius: 3px;
  max-width: 500px;
  margin: 16px 0;
}


.referral-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ORDER CONFIRMATION PAGE */
.pizza-confirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 40px;
}

.confirmation-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  display: none;
}

.dropdown{
  display:none
}

@media screen and (max-width: 768px){
  .splash-options, .guest-refer-form, .confirmation-message, .profile-card {
    margin-top: 80px;
  }
}

@media screen and (max-width: 414px){
  .dropdown {
    display: flex;
  }

  #dropbtn {
    display: none;
  }

  #dropbtnLabel{
    display: block;
    background-color: transparent;
    color: white;
    font-size: 250%;
    border: none;
    float: right;
  }

  .dropdown-links{
    display: none;
  }

  #dropbtn:checked ~ .dropdown-links{
    position: absolute;
   width: 100%;
    background-color: #cc0f00;
    top: 100px;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-links {
    display: none;
  }
}
