body {
  font-family: 'Inter', sans-serif;
  color: #011627;
}

a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

h2 {
  font-size: 18px;
}

/* Navigation bar */

.nav-container {
  position: sticky;
  top: 0;
  height: 100px;
  margin: -10px;
  width: 101.25%;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #cc0f00;
  color: black;
  z-index: 100;
  letter-spacing: 0.025em;
  padding: 16px;
}

.logo {
  width: 100px;
  height: 100px;
}




.navbar-links {
  display: inline-block;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
  font-family: 'Palatino Linotype', 'Book Antiqua';
}

.navbar-links a {
  padding: 0 10px;
  color: black;
}

<<<<<<< HEAD
.splash-options {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.splash-card {
  background-color: #fff;
  border: solid 2px #2EC4B6;
  color: #011627;
  margin: 16px;
  padding: 16px;
  border-radius: 3px;
  text-align: center;
}


.auth-form {
  padding-top: 50px;
}

=======
>>>>>>> 7305de89646c04a466e8ad699676f7b75436a735
#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* login and signup form */
#auth-form-container {
  border-top: 1px solid black;
  background: rgb(66, 66, 66);
  color: white;
  padding: 20px;
}
 div.pizza{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left : 50px
 }
