body {
  font-family: 'Inter', sans-serif;
  color: #011627;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 18px;
  margin: 20px 0;
}

.button {
  background-color: #FF9F1C;
  color: #fff;
  padding: 8px;
  font-size: 16px;
  border-radius: 3px;
  max-width: 150px;
  margin: 16px 16px 16px 0;
  border: none;
  max-height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  max-width: 500px;
}

label {
  padding: 8px 0;
}

input {
  border-radius: 3px;
  padding: 4px;
  font-size: 16px;
}

/* Navigation bar */

.nav-container {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #cc0f00;
  z-index: 100;
  letter-spacing: 0.025em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.nav-container a {
  padding: 16px;
}

.quick-checkout {
  color: #011627;
  background-color: #fff;
  border: solid 2px #2EC4B6;
  padding: 16px;
  border-radius: 3px;
  transition: transform .25s;
}

.quick-checkout:hover {
  background-color: #2EC4B6;
  color: #fff;
  transform: translateY(3px);
}

.logo {
  width: 90px;
  height: 90px;
}

.navbar-links {
  display: inline-block;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
  font-family: 'Palatino Linotype', 'Book Antiqua';
  color: #fff;
}

.navbar-links a {
  padding: 0 10px;
  color: #fff;
}

/* Splash page */

.splash-page {
  background-image: url('./assets/pizza-with-vegetables-on-a-wooden-table-316-small.jpg');
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 140px 40px;
  display: flex;
  flex-direction: column;
}

.splash-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: min-content;
  flex-wrap: wrap;
}

.splash-card {
  background-color: #fff;
  border: solid 2px #2EC4B6;
  color: #011627;
  margin: 16px;
  padding: 16px;
  border-radius: 3px;
  text-align: center;
  min-width: 150px;
  font-size: 18px;
  transition: transform .25s;
}

.splash-card:hover {
  background-color: #2EC4B6;
  color: #fff;
  transform: translateY(3px);
}

#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* login and signup form */

.auth-form {
  display: flex;
  flex-direction: column;
}

#auth-form-container {
  color: #011627;
  padding: 140px 40px;
}



/* Select Size Page */

.size-button:focus{
  color: red;
}

.size-container{
  padding: 80px 40px 40px 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.pizza{
  padding: 20px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
 }

.single-size{
  padding: 20px 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

/* Guest Checkout */
#guest-message{
  width: 100%;
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}


.referred-page, .guest-page, .profile-page {
  padding: 140px 40px;
}

.customize-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}

@media screen and (max-width: 919px){
  .customize-section {
    margin-right: 0px;
  }
}

.customize {
  padding: 20px;
}

.single-contact {
  border: solid 3px #2EC4B6;
  padding: 16px;
  border-radius: 3px;
  max-width: 500px;
  margin: 16px 0;
}


.referral-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ORDER CONFIRMATION PAGE */
.pizza-confirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 40px;
}

.dropbtn {
  display: none;
}

.dropdown{
  display:none
}

@media screen and (max-width: 414px){
  .dropdown {
    display: flex;
  }

  #dropbtn {
    display: none;
  }

  #dropbtnLabel{
    display: block;
    background-color: transparent;
    color: white;
    font-size: 250%;
    border: none;
    float: right;
  }

  .dropdown-links{
    display: none;
  }

  #dropbtn:checked ~ .dropdown-links{
    position: absolute;
   width: 100%;
    background-color: #cc0f00;
    top: 100px;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }



  .navbar-links {
    display: none;
  }
}
